.list {
    background-color: rgb(53, 52, 52);
    list-style: none;
    border-radius: 10px;
}

.list_item {
    padding: 12px 8px;
    border: 1px solid rgba(255, 255, 255, 0.119);
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        font-weight: 700;
    }
}

